.chatroom-send-button {
  --bs-btn-color: #fff;
  --bs-btn-bg: #63e6be;
  --bs-btn-border-color: #63e6be;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #45cfaa;
  --bs-btn-hover-border-color: #45cfaa;
  --bs-btn-focus-shadow-rgb: 99, 230, 190;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #45cfaa;
  --bs-btn-active-border-color: #45cfaa;
}
